@import '~office-ui-fabric-react/dist/sass/References.scss';

.gettingdata {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
// .d1{
//   position: absolute;
//     left: 53%;
//     top: 29%;
// }
// .d2{
//   position: absolute;
//   left: 53%;
//   top: 51%;
// }
// .d3{
//   position: absolute;
//   left: 35%;
//   top: 77%;
// }
// .d4{
//   margin-top: 1%;
// }
// .d5{
//   position: relative;
//   left: 33%;
// }

.d1{
  position: absolute;
  left: 85%;
  top: 53%;
  
}
.d2{
  position: absolute;
  left: 85%;
  top: 65%;
}
.d3{
  position: absolute;
  left: 85%;
  top: 77%;
}
.d4{
  position: absolute;
      left: 85%;
      top: 89%;
}
.d5{
  position: relative;
  left: 33%;
}





// .editpop{
// position: absolute;
// left: 85%;
// top: 53%;
// }
// .editpop1{
//   position: absolute;
//   left: 85%;
//   top: 65%;
//   }
//   .editpop2{
//     position: absolute;
//     left: 85%;
//     top: 77%;
//     }
//     .editpop3{
//       position: absolute;
//       left: 85%;
//       top: 89%;
//       }
.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}